@mixin flex-center-space-between-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-center-center-nowrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

@mixin flex-baseline-wrap {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

@mixin flex-center-start-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
