$yellow: #ffefb4;
$black: black;
$gray: #d3d3d3;
$red: #f35843;
$pink: #fde3e3;
$light-blue: #f0f2f3;
$light-gray: rgba(71, 71, 71, 0.1);
$hover-gray: rgba(71, 71, 71, 0.3);
$green: #e7f0c4;
$dark-green: rgb(0, 128, 0);
$dark-blue: #185678;
$purple: #4a1878;
$dark: #454545;
$white: #ffffff;
$font-family: Helvetica, sans serif;
$h1: 4rem;
$h2: 2rem;
$h4: 1rem;
$h3-s: 1rem;
$h3-l: 1.5rem;
$span-size: 1.2rem;
$large-radius: 2rem;
$size-s-button: 0.7rem;
$size-l-button: 1rem;
$button-radius: 0.6rem;
$button-padding: 0.6rem 2rem;
$black-border: 1px solid $black;
$red-border: 1px solid $red;
$main-s-margin: 0 1.5rem;
$main-m-margin: 0 3rem;
$main-l-margin: 0 6rem;
$height-s-logo: 1.5rem;
$height-l-logo: 2rem;
