@import "helpers/variables";
@import "helpers/mixins";

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3-s;
  @media screen and (min-width: 760px) {
    font-size: $h3-l;
  }
}

h1,
h2,
h3,
p,
a {
  font-family: $font-family;
}

ul {
  list-style: none;
}

nav {
  text-transform: uppercase;
}

main {
  margin: $main-s-margin;

  @media screen and (min-width: 760px) {
    margin: $main-m-margin;
  }

  @media screen and (min-width: 1280px) {
    margin: $main-l-margin;
  }
}

.header {
  display: block;
  margin-top: 1rem;

  @media screen and (min-width: 1280px) {
    @include flex-center-space-between-wrap;
    margin: 2rem 6rem;
  }

  &__logo {
    height: $height-s-logo;
    margin: 0 0 1rem 1rem;

    @media screen and (min-width: 1280px) {
      height: $height-l-logo;
    }
  }

  &__nav {
    background-color: $light-gray;

    @media screen and (min-width: 1280px) {
      background-color: unset;
    }

    &__link {
      color: black;
      display: block;
      font-size: $size-s-button;
      padding: 1rem;

      @media screen and (min-width: 1280px) {
        display: inline-block;
        font-size: $size-l-button;
      }

      &:hover {
        background-color: $hover-gray;

        @media screen and (min-width: 1280px) {
          background-color: unset;
        }
      }
    }
  }

  &__btns {
    display: block;
    font-size: $size-s-button;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;

    @media screen and (min-width: 1280px) {
      @include flex-center-center-nowrap;
      font-size: $size-l-button;
      margin: 0;
    }

    &__btn {
      border-radius: $button-radius;
      display: block;
      margin: 0.5rem;
      padding: $button-padding;

      &:first-child {
        color: $white;
        background-color: black;
        border: $black-border;
      }

      &:last-child {
        color: $red;
        background-color: $pink;
        border: $red-border;
      }
    }
  }
}

.middle-page {
  @include flex-center-start-wrap;

  &__arrows {
    display: block;
    margin-left: 2rem;

    &__arrow {
      border: 1px solid lightgray;
      border-radius: 50%;
      font-size: 2rem;
      margin-bottom: 1rem;
      padding: 1.2rem 1.5rem;
    }
  }

  &__square {
    @include flex-center-center-nowrap;
    border-radius: $large-radius;
    height: 10rem;
    margin: 0 3rem 3rem 0;
    padding: 2rem;
    position: relative;
    text-align: center;
    width: 10rem;

    &:nth-child(1) {
      background-color: $yellow;
      color: $dark-blue;
    }
    &:nth-child(2) {
      background-color: $pink;
      color: $red;
    }
    &:nth-child(3) {
      background-color: $green;
      color: $purple;
    }
    &:nth-child(4) {
      background-color: $light-blue;
      color: $dark-blue;
    }
    &:nth-child(5) {
      background-color: $purple;
      color: $yellow;
    }
    @media screen and (min-width: 760px) {
      height: 12rem;
      width: 12rem;
    }

    @media screen and (min-width: 1280px) {
      height: 18rem;
      width: 18rem;
    }
  }
}

.top-page {
  @include flex-center-space-between-wrap;
  margin: 5rem 0;

  @media screen and (min-width: 1280px) {
    margin-bottom: 2rem;
  }

  &__links {
    @include flex-baseline-wrap;
    a {
      background-color: $pink;
      border-radius: $large-radius;
      color: $red;
      font-size: $size-s-button;
      margin: 0 1.5rem 0.8rem 0;
      padding: 1rem 2rem;
      text-transform: uppercase;

      @media screen and (min-width: 1280px) {
        font-size: $size-l-button;
      }
    }

    p {
      font-size: $span-size;
    }

    span {
      color: $red;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
