body {
  font-family: Helvetica, sans serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 760px) {
  h3 {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3,
p,
a {
  font-family: Helvetica, sans serif;
}

ul {
  list-style: none;
}

nav {
  text-transform: uppercase;
}

main {
  margin: 0 1.5rem;
}

@media screen and (min-width: 760px) {
  main {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 1280px) {
  main {
    margin: 0 6rem;
  }
}

.header {
  display: block;
  margin-top: 1rem;
}

@media screen and (min-width: 1280px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem 6rem;
  }
}

.header__logo {
  height: 1.5rem;
  margin: 0 0 1rem 1rem;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    height: 2rem;
  }
}

.header__nav {
  background-color: rgba(71, 71, 71, 0.1);
}

@media screen and (min-width: 1280px) {
  .header__nav {
    background-color: unset;
  }
}

.header__nav__link {
  color: black;
  display: block;
  font-size: 0.7rem;
  padding: 1rem;
}

@media screen and (min-width: 1280px) {
  .header__nav__link {
    display: inline-block;
    font-size: 1rem;
  }
}

.header__nav__link:hover {
  background-color: rgba(71, 71, 71, 0.3);
}

@media screen and (min-width: 1280px) {
  .header__nav__link:hover {
    background-color: unset;
  }
}

.header__btns {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 1rem;
    margin: 0;
  }
}

.header__btns__btn {
  border-radius: 0.6rem;
  display: block;
  margin: 0.5rem;
  padding: 0.6rem 2rem;
}

.header__btns__btn:first-child {
  color: #ffffff;
  background-color: black;
  border: 1px solid black;
}

.header__btns__btn:last-child {
  color: #f35843;
  background-color: #fde3e3;
  border: 1px solid #f35843;
}

.middle-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middle-page__arrows {
  display: block;
  margin-left: 2rem;
}

.middle-page__arrows__arrow {
  border: 1px solid lightgray;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1.2rem 1.5rem;
}

.middle-page__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 2rem;
  height: 10rem;
  margin: 0 3rem 3rem 0;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 10rem;
}

.middle-page__square:nth-child(1) {
  background-color: #ffefb4;
  color: #185678;
}

.middle-page__square:nth-child(2) {
  background-color: #fde3e3;
  color: #f35843;
}

.middle-page__square:nth-child(3) {
  background-color: #e7f0c4;
  color: #4a1878;
}

.middle-page__square:nth-child(4) {
  background-color: #f0f2f3;
  color: #185678;
}

.middle-page__square:nth-child(5) {
  background-color: #4a1878;
  color: #ffefb4;
}

@media screen and (min-width: 760px) {
  .middle-page__square {
    height: 12rem;
    width: 12rem;
  }
}

@media screen and (min-width: 1280px) {
  .middle-page__square {
    height: 18rem;
    width: 18rem;
  }
}

.top-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem 0;
}

@media screen and (min-width: 1280px) {
  .top-page {
    margin-bottom: 2rem;
  }
}

.top-page__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-page__links a {
  background-color: #fde3e3;
  border-radius: 2rem;
  color: #f35843;
  font-size: 0.7rem;
  margin: 0 1.5rem 0.8rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .top-page__links a {
    font-size: 1rem;
  }
}

.top-page__links p {
  font-size: 1.2rem;
}

.top-page__links span {
  color: #f35843;
  text-decoration: underline;
  text-underline-offset: 5px;
}
/*# sourceMappingURL=style.css.map */